<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


</head>
<body ng-controller="LabController">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!--<script src="../Controller/Lab.Controller.js"></script>-->
<script src="Controller/Lab.Controller.js"></script>

<div id="page">
    <div class="header"><img src="../../img/logoPCU%20(2).jpg" height="174" width="721"/>
        <h1 class="text-info">Prescription Details Management</h1>

    </div>
</div>

<div class="container">
    <div class="navigation">
        <div class="page-header">
        </div>

        <div class="well well-lg">
            <div class="container-fluid">
                <h3><strong>Search Lab Test</strong></h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Patient ID</label>
                                <input type="text" ng-model="searchVal.registration_number" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label>Category</label>
                                <select ng-model="searchVal.testName" class="form-control">
                                    <option>A</option><option>B</option><option>C</option><option>D</option><option>E</option><option>F</option>
                                    <option>G</option><option>H</option><option>I</option><option>J</option><option>K</option><option>L</option>
                                    <option>M</option><option>N</option><option>O</option><option>P</option><option>Q</option><option>R</option>
                                    <option>S</option><option>T</option><option>U</option><option>V</option><option>W</option><option>X</option>
                                    <option>Y</option><option>Z</option>

                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group pull-right">
                                    <button class="btn btn-warning" id="clear" ng-click="clearSearch()"> Clear </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h3> <strong>Lab Test Details</strong></h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="data-table">

                        <tr>
                            <th> Patient ID </th>
                            <th> Test Code </th>
                            <th> Test Name </th>
                            <th> Date </th>

                        </tr>

                        <tr ng-repeat="Test in Tests | filter:searchVal">
                            <td> {{Test.registration_number}} </td>
                            <td> {{Test.testCode}} </td>
                            <td> {{Test.testName}} </td>
                            <td> {{Test.date}} </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
